body {
    background: hsl(213, 24%, 93%);
}

.div1 {
    width: 350px;
    margin: auto;
    margin: 10 0 0 450px;
    overflow: hidden;
    padding: 75px;
    background: hsl(192, 15%, 94%);
}

h2 {
    text-align: center;
    padding: 10px;
    color: hsl(180, 3%, 19%);
}

label {
    color: white;
    padding-left: 10px;
}

.inputText {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 2px;
    padding-left: 8px;
}

#logButton {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding-left:7px ;
    color: black;
    font-size: 16px;
}