@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --background-color: #00008b;
    --prirmary-color: #fff;
    --blue: hsl(204, 70%, 53%);
    --black1: hsl(0, 0%, 13%);
    --black2: hsl(0, 0%, 60%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 60px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--prirmary-color);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    color: var(--prirmary-color);
    text-decoration: none;
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* Curve outside zone */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--prirmary-color);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--prirmary-color);
    pointer-events: none;
}


.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--prirmary-color);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topBar {
    width: 100%;
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}


.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

/*table {*/
/*    table-layout: fixed;*/
/*    position: absolute;*/
/*    width: 75%;*/
/*    left: 23%;*/
/*    margin-bottom: -25px;*/
/*    border-collapse: collapse;*/
/*    bottom: 303px;*/
/*}*/

th, td {
    padding: 16px 13px;
    text-align: center;
    color: hsl(40, 10%, 94%);
    font-size: 16px;
}


td {
    color: hsl(0, 0%, 13%);
}


/*table tr {*/
/*    color: var(--black1);*/
/*    border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
/*}*/

/*thead {*/
/*    background: var(--blue);*/
/*    margin: auto;*/
/*    display: table;*/
/*    width: 102.5%;*/
/*    position: absolute;*/
/*    right: 44px;*/
/*    top: 20%;*/
/*}*/

/*tbody {*/
/*    height: 515px;*/
/*    overflow: auto;*/
/*    display: block;*/
/*    width: 103%;*/
/*    position: relative;*/
/*    right: 69px;*/
/*    top: 179px;*/
/*    border: 5px solid white;*/
/*}*/

tfoot {
    display: block;
    width: 103%;
    position: relative;
    right: 69px;
    top: 179px;
    border: 5px solid white;
}

/*tr {*/
/*    display: table;*/
/*    width: 100%;*/
/*    table-layout: fixed;*/
/*}*/

/*tr {*/
/*    table-layout: fixed;*/
/*    width: 100%;*/
/*}*/


/*.edit2 {*/
/*    position: relative;*/
/*    top: 21px;*/
/*    left: 22%;*/
/*    transform: translate(-50%, -50%);*/
/*    border-radius: 10%;*/
/*    font-size: 24px;*/
/*    border: 1px solid var(--prirmary-color);*/
/*    text-transform: uppercase;*/
/*    font-weight: 400;*/
/*    position: relative;*/
/*    margin: 0px 35px;*/
/*    text-align: center;*/
/*    color: var(--prirmary-color);*/
/*    background-color: var(--prirmary-color);*/
/*    color: hsl(356, 100%, 41%);*/
/*    justify-content: space-around;*/
/*    align-content: center;*/
/*}*/

@media (max-width: 991px) {
    .navigation {
        left: -300px;
    }

    .navigation.active {
        left: 0;
        width: 300px;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 300px;
    }

}

@media (max-width: 480px) {
    .user {
        min-width: 40px;
    }

    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .navigation.active {
        width: 100%;
        left: 0;
    }

    .toggle {
        z-index: 10001;
    }

    .main.active .toggle {
        position: fixed;
        right: 0;
        left: initial;
        color: var(--prirmary-color);
    }
}

/*---------------------------------------------------------------------------------*/

.main .table-emp {
    margin-left: auto;
    margin-right: auto;
    max-height: 1px;
    overflow: auto;
    width: 70%;
    height: 200px;
    border-collapse: collapse;
    margin-top: 40px;
}

.main .table-emp tbody tr {
    border-bottom: #777777 solid 1px;
    height: 10px;
}

.main .table-emp tbody tr td {
    height: 50px;
    padding: 0;
    margin: 0;
}

.table-emp #thead-emp {
    background: darkblue;
}